In [2]:
import numpy as np
import pandas as pd
import os

train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

# test_data.head()
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [76]:
features = ['Age','Pclass','Sex']

y = train_data['Survived']
y = y.astype(float)

X = pd.get_dummies(train_data[features])
X = X.astype(float)

notnull = X[pd.notnull(X['Age'])]['Age']
avg = sum(notnull)/len(notnull)

X = X.fillna(avg)

X.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
Age           891 non-null float64
Pclass        891 non-null float64
Sex_female    891 non-null float64
Sex_male      891 non-null float64
dtypes: float64(4)
memory usage: 28.0 KB

In [3]:
from sklearn.svm import SVC 

clf = SVC(gamma = 'auto')
clf.fit(X,y)

NameError: name 'X' is not defined

In [95]:
X_test = pd.get_dummies(test_data[features]).astype(float).fillna(avg)

X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
Age           418 non-null float64
Pclass        418 non-null float64
Sex_female    418 non-null float64
Sex_male      418 non-null float64
dtypes: float64(4)
memory usage: 13.2 KB

In [1]:
predictions = clf.predict(X_test).astype(int)

type(predictions)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)

NameError: name 'clf' is not defined